<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="BlueAcorn\RestApi\Api\AssignedProductsInterface" type="BlueAcorn\RestApi\Model\AssignedProducts" />
    <preference for="BlueAcorn\RestApi\Api\Data\ProductInterface" type="BlueAcorn\RestApi\Model\Product" />
</config>